@model Almara.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Movies</h2>
<button type="submit" class="btn btn-primary" onclick="window.location.href = '@Url.Action("New", "Movie")';">New Movie</button>
<h3></h3>
<table class="table table-bordered table-striped table-hover">
    <thead>

        <tr>
            <th>Movie</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model.Movies)
        {
            <tr>
                <td>@Html.ActionLink(movie.Name, "Edit", "Movie", new { id = movie.Id }, null)</td>
                <td>@movie.Genre.Name</td>
            </tr>
        }
    </tbody>
    </table>