@model Almara.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{ int count = Model.Movies.Count();
    int random = new Random().Next(1, count+1); }
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th> Movie </th>
            <th> Genre</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var rand in Model.Movies)
        {
        <tr>
            @if (rand.Id == random)
            {
            <td>
                @Html.ActionLink(rand.Name, "Details", "Movie", new { id = rand.Id }, null)
                
            </td>
                <td>@rand.Genre.Name</td>
                
            }

           

        </tr>
        }
    </tbody>
</table>