@model Almara.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>@Model.Name</h2>
 
<ul>
    <li>Membership Type: @Model.MembershipType.Name</li>




    @if (Model.BirthDate.HasValue)
    {

<li>
    Customer Birthdate > @Html.DisplayFor(modelItem => modelItem.BirthDate).ToString().Substring(0, 9)
</li>

    }

</ul>

