@model Almara.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th> Customer </th>
            <th> Membership Type</th>
        </tr>


    </thead>

    <tbody>
        @foreach (var cust in Model.Customers)
        {
            <tr>

                <td>@Html.ActionLink(cust.Name,"Edit","Customer",new { id=cust.Id },null)</td>
                <td>@cust.MembershipType.Name</td>

            </tr>
        }


    </tbody>
</table>


