@{
    ViewBag.Title = "Home Page";
}

<body background="~/Pics/top.jpg" background-repeat="repeat" background-size:cover>

</body>

<footer >
    <button  type="submit" class="btn-default btn-lg" onclick="location.href='../Movie/Random'">Random Movie</button>
</footer>




