@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AlMaRa</h1>
    <p class="lead">AlMaRa is a great application for renting movies.</p>
    <p><a href="../Home/Index" class="btn btn-primary btn-lg">See more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Watch Movies</h2>
        <p>
            AlMaRa is great place where to watch movies for decent price.
        </p>
        <p><a class="btn btn-default" href="../Movie/Random">Watch now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>See more from our developers</h2>
        <p>Training centre.</p>
        <p><a class="btn btn-default" href="http://sashel.tk">Visit &raquo;</a></p>
    </div>

</div>