@{
    ViewBag.Title = "Home Page";
}
<h1>Almara is a great place to find great movie.</h1>
<h2>
   
    <img src="~/Pics/background.png"alt="Alternate Text"  />
</h2>
<div>
    <button type="submit"class="btn btn-primary" onclick="location.href='../Movie/Random'" >Random Movie</button>

</div>


    


